body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background-color: #282828;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    width: 350px;
}

.login-box h1 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #444;
    background-color: #333;
    color: white;
}

.login-button {
    width: 100%;
    padding: 10px;
    border-radius: 25px;
    border: none;
    background-color: #1DB954;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.login-button:hover {
    background-color: #1ED760;
}

.extra-links {
    margin-top: 20px;
    font-size: 12px;
}

.extra-links a {
    color: #b3b3b3;
    text-decoration: none;
}

.extra-links a:hover {
    text-decoration: underline;
}

.extra-links span {
    margin: 0 10px;
    color: #b3b3b3;
}
