.sidebar {
  grid-area: sidebar;
  background-color: #000000;
  padding: 20px;
  overflow-y: auto;
}

.sidebar nav li {
  margin-bottom: 20px;
}

.sidebar nav a {
  color: #b3b3b3;
  font-size: 14px;
  font-weight: bold;
  transition: color 0.2s ease;
  padding-left: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar nav a:hover {
  color: #ffffff;
}

.divisor-sidebar {
  background-color: #4b4b4b;
  height: 2px;
  margin-bottom: 18px;
}

.sidebar-title {
  font-weight: 600;
  font-size: 24px;
}

.sidebar-title-container {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
  align-items: center;
  padding-left: 5px;
}

.sidebar-sub-title {
  color: #b3b3b3;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.2s ease;
  user-select: none;
}

.fa-headphones {
  font-size: 26px;
  color: #00c950;
}
