* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.app-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 1fr 90px;
  grid-template-areas:
    "sidebar main"
    "footer  footer";
}

.main-wrapper {
  grid-area: main;
  background-color: #121212;
  display: grid;
  grid-template-rows: 60px 1fr;
  overflow: hidden;
}

#page-content {
  overflow-y: auto;
  padding: 20px 30px;
}
